<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>确认登录</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h1>请确认登录</h1>
                        <form th:action="@{'/loginSuccess/'+${uuid}}">
                        <button id="confirmButton" class="btn btn-primary mt-3">确认登录</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
