<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>人脸检测</title>
    <!-- 添加Bootstrap样式 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>人脸检测</h2>
    <form action="/detect" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">上传并检测</button>
    </form>
</div>
</body>
</html>