<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
    <h1>Oauth2登陆测试</h1>
    <div style="display:flex; justify-content: space-between; width: 60%; margin:220px auto;" >
	    <form th:action="@{/oauth2/auth/gitee}" method="post">
	        <button type="submit">通过 JustAuth登陆</button>
	    </form>
	    <form th:action="@{/oauth2/authorization/gitee}" method="post">
	        <button type="submit">通过 Security 登陆</button>
	    </form>
    </div>
</body>
</html>